{% extends "icine/base.html" %}

{% block content %}
	<div class="main" role="main">
		<div class="about-body">
			<div class="content-section">
				<div class="row">
					<div class="md-8 blog-main">
						<h2 class="ml-4 mr-8 mb-2">
							About
						</h2>

						<div class="blog-post">
						<!--  <h2 class="blog-post-title">Sample blog post</h2>
							<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

							<p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p> -->
							<!-- <hr> -->
							<p class="ml-4 mr-4">Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
							<blockquote>
							<p class="ml-4 mr-4">Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</blockquote>
							<p class="ml-4 mr-4">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
						
						</div><!-- /.blog-post -->
						

						<hr class="featurette-divider">
						<div class="row featurette">
							<div class="col-md-7">
								<h2 class=" ml-4 featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
							</div>

							<div class="container">

								<div class="movie-card">
								<div class="movie-header G">
								<div class="header-icon-container">
								<a href="#">
								<i class="material-icons header-icon">keyboard_arrow_down</i>
								</a>
								</div>
								</div>
								<div class="movie-content">
								<div class="movie-content-header">
								<a href="#">
								<h3 class="movie-title">G</h3>
								</a>
								<div class="imax-logo"></div>
								</div>
								<div class="movie-info">
								<div class="info-section">
								<label>Release date:</label>
								<span>10 January 2020</span>
								</div>
								<div class="info-section">
								<label>Location:</label>
								<span>Glasgow - IMAX at GSC/ Glasgow - Renfrew Street</span>
								</div>
								</div>
								</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>	
	</div>
{% endblock content %}
