{% extends "icine/base.html" %}

{% block content %}
	<div class="main" role="main">
		<div class="featured-movie">
			<img class="cover" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/backdrop_ggwxvq_1.jpg" alt="" class="cover" />
			<p class="corner-title">Staff pick</p>
			<div class="bottom-bar">
				<div class="title-container">
					<span class="fa fa-play-circle"></span>
					<b>Non-stop</b> Trailer #1
				</div>
				<div class="right">
					<div class="stars">
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star-half-o"></span>
						<span class="fa fa-star-o"></span>
					</div>
					<div class="share">
						<icon class="fa fa-share-square"></icon> Share
					</div>
				</div> 
			</div> 
		</div> 

		<!-- <div class="movie-list">
			<div class="title-bar">
				<div class="left">
					<p class="bold">Popular Trailers</p>
					<p class="grey">Action / Adventure</p>
				</div> 
				<div class="right">
					<a class="blue" href="#">Rating <i class="fa fa-angle-down"></i></a>
					<a href="#">Newest</a>
					<a href="#">Oldest</a>
				</div> 
			</div> 
			<ul class="list">
				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140412_oavbye_1.png" alt="" class="cover" />
					<p class="title">Sin City: A Dame To Kill For</p>
					<p class="genre">Action, Crime</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140329_aawn02_1.png" alt="" class="cover" />
					<p class="title">Transcendence</p>
					<p class="genre">Action, Drama</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140239_kyg9i7_1.png" alt="" class="cover" />
					<p class="title">Need For Speed</p>
					<p class="genre">Action, Crime</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140052_dq4dyx_1.png" alt="" class="cover" />
					<p class="title">The Amazing Spiderman</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140104_tdgzka_1.png" alt="" class="cover" />
					<p class="title">Pompeii</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140248_fmufrz_1.png" alt="" class="cover" />
					<p class="title">Divergent</p>
					<p class="genre">Action, Sci-Fi</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140401_aewzsy_1.png" alt="" class="cover" />
					<p class="title">Guardians of the Galaxy</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140339_wck2gw_1.png" alt="" class="cover" />
					<p class="title">X-Men: Days of Fury</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140311_rj1det_1.png" alt="" class="cover" />
					<p class="title">Captain America: The Winter Soilder</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140248_fmufrz_1.png" alt="" class="cover" />
					<p class="title">Divergent</p>
					<p class="genre">Action, Sci-Fi</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140132_bcnfqk_1.png" alt="" class="cover" />
					<p class="title">RoboCop (2014)</p>
					<p class="genre">Action, Crime</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140329_aawn02_1.png" alt="" class="cover" />
					<p class="title">Transcendence</p>
					<p class="genre">Action, Drama</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140239_kyg9i7_1.png" alt="" class="cover" />
					<p class="title">Need For Speed</p>
					<p class="genre">Action, Crime</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140104_tdgzka_1.png" alt="" class="cover" />
					<p class="title">Pompeii</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140412_oavbye_1.png" alt="" class="cover" />
					<p class="title">Sin City: A Dame To Kill For</p>
					<p class="genre">Action, Crime</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140339_wck2gw_1.png" alt="" class="cover" />
					<p class="title">X-Men: Days of Fury</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140052_dq4dyx_1.png" alt="" class="cover" />
					<p class="title">The Amazing Spiderman</p>
					<p class="genre">Action, Adventure</p>
				</li>

				<li>
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/2014-03-08_140248_fmufrz_1.png" alt="" class="cover" />
					<p class="title">Divergent</p>
					<p class="genre">Action, Sci-Fi</p>
				</li>
			</ul>
			<a href="#" class="load-more">Show more movies <span class="fa fa-plus"></span></a>
		</div>  -->


		<div class="container">
		<div class="movie-card">
		<div class="movie-header manOfSteel">
		<div class="header-icon-container">
		<a href="#">
		<i class="material-icons header-icon">&#xE037;</i>
		</a>
		</div>
		</div>
		<div class="movie-content">
		<div class="movie-content-header">
		<a href="#">
		<h3 class="movie-title">Man of Steel</h3>
		</a>
		<div class="imax-logo"></div>
		</div>
		<div class="movie-info">
		<div class="info-section">
		<label>Date &amp; Time</label>
		<span>Sun 8 Sept - 10:00PM</span>
		</div>
		<div class="info-section">
		<label>Screen</label>
		<span>03</span>
		</div>
		<div class="info-section">
		<label>Row</label>
		<span>F</span>
		</div>
		<div class="info-section">
		<label>Seat</label>
		<span>21,22</span>
		</div>
		</div>
		</div>
		</div>
		<div class="movie-card">
		<div class="movie-header babyDriver">
		<div class="header-icon-container">
		<a href="#">
		<i class="material-icons header-icon">&#xE037;</i>
		</a>
		</div>
		</div>
		<div class="movie-content">
		<div class="movie-content-header">
		<a href="#">
		<h3 class="movie-title">Baby Driver</h3>
		</a>
		<div class="imax-logo"></div>
		</div>
		<div class="movie-info">
		<div class="info-section">
		<label>Date &amp; Time</label>
		<span>Tue 4 July - 05:00PM</span>
		</div>
		<div class="info-section">
		<label>Screen</label>
		<span>01</span>
		</div>
		<div class="info-section">
		<label>Row</label>
		<span>H</span>
		</div>
		<div class="info-section">
		<label>Seat</label>
		<span>15</span>
		</div>
		</div>
		</div>
		</div>
		<div class="movie-card">
		<div class="movie-header theDarkTower">
		<div class="header-icon-container">
		<a href="#">
		<i class="material-icons header-icon">&#xE037;</i>
		</a>
		</div>
		</div>
		<div class="movie-content">
		<div class="movie-content-header">
		<a href="#">
		<h3 class="movie-title">The Dark Tower</h3>
		</a>
		<div class="imax-logo"></div>
		</div>
		<div class="movie-info">
		<div class="info-section">
		<label>Date &amp; Time</label>
		<span>Wed 16 Aug - 07:00PM</span>
		</div>
		<div class="info-section">
		<label>Screen</label>
		<span>06</span>
		</div>
		<div class="info-section">
		<label>Row</label>
		<span>C</span>
		</div>
		<div class="info-section">
		<label>Seat</label>
		<span>18</span>
		</div>
		</div>
		</div>
		</div>
		<div class="movie-card">
		<div class="movie-header bladeRunner2049">
		<div class="header-icon-container">
		<a href="#">
		<i class="material-icons header-icon">&#xE037;</i>
		</a>
		</div>
		</div>
		<div class="movie-content">
		<div class="movie-content-header">
		<a href="#">
		<h3 class="movie-title">Blade Runner 2049</h3>
		</a>
		<div class="imax-logo"></div>
		</div>
		<div class="movie-info">
		<div class="info-section">
		<label>Date &amp; Time</label>
		<span>Mon 16 Oct - 10:00PM</span>
		</div>
		<div class="info-section">
		<label>Screen</label>
		<span>06</span>
		</div>
		<div class="info-section">
		<label>Row</label>
		<span>D</span>
		</div>
		<div class="info-section">
		<label>Seat</label>
		<span>05,06</span>
		</div>
		</div>
		</div>
		</div>
		</div>

	</div>
{% endblock %}