@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/* @import url("https://fonts.googleapis.com/css?family=Arimo:400,700"); */

body {
  height: 100%;
  width: 100%;
  background: #353535;
  font-family: 'Arimo', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

a {
  text-decoration: none;
  /* transition-duration: 0.3s; */
  color: inherit;
}

a:hover {
  color: #6ABCEA;
  /* transition-duration: 0.05s; */
}

.window-margin {
  padding-left: 23px;
  padding-right: 23px;
  /* padding-top: 20px:  */
  margin: auto;
}
.window {
  margin: auto;
  border-radius: 5px;
  background: #FFF;
  /* background-image: url(https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80); */
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.window .sidebar .top-bar,
.window .main .top-bar {
  height: 65px;
  color: #FFF;
}
.window .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #24282C;
  transition-duration: 0.3s;
  color: #DDD;
}
.window .sidebar .top-bar {
  background: #24282C;
  overflow: hidden;
}
.window .sidebar .top-bar .logo {
  float: left;
  font-family: Open Sans Condensed, sans-serif;
  font-size: 40px;
  line-height: 65px;
  margin-left: 20px;
}
.window .sidebar .search-box {
  background: #373D41;
  padding: 20px;
  position: relative;
}
.window .sidebar .search-box input {
  width: 170px;
  border: 0;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  color: #999;
  transition-duration: 0.3s;
}
.window .sidebar .search-box input:focus {
  color: #333;
}
.window .sidebar .search-box input:focus ~ .fa {
  color: #999;
}
.window .sidebar .search-box .fa {
  position: absolute;
  top: 31px;
  right: 35px;
  color: #CCC;
  transition-duration: 0.3s;
  cursor: pointer;
}
.window .sidebar .menu {
  padding-top: 20px;
}
.window .sidebar .menu .separator {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #353535;
  margin: 20px;
}
.window .sidebar .menu a {
  color: #DDD;
  text-decoration: none;
}
.window .sidebar .menu a:hover {
  color: #FFF;
}
.window .sidebar .menu .menu-name {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 15px;
  position: relative;
  margin-bottom: 10px;
}
/*.window .sidebar .menu > ul.no-bullets > li a:before {
  content: none !important;
}*/
.window .sidebar .menu > ul > li {
  list-style: none;
}
.window .sidebar .menu > ul > li > a {
  position: relative;
  top: -3px;
  font-size: 14px;
  padding: 8px 25px;
  display: block;
  font-weight: bold;
}
.window .sidebar .menu > ul > li > a:before {
  content: '';
  height: 9px;
  width: 9px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
  box-shadow: inset 0 0 0 1px #EEE;
}
.window .sidebar .menu > ul > li.active {
  list-style-type: disc;
  color: #FF3A3A;
  padding-bottom: 10px;
}
.window .sidebar .menu > ul > li.active > a {
  padding-bottom: 0;
}
.window .sidebar .menu > ul > li.active > a:before {
  background: #FF3A3A;
  box-shadow: none;
}
.window .sidebar .menu > ul > li.active ul {
  display: block;
  margin-left: 50px;
  margin-top: 5px;
}
.window .sidebar .menu > ul > li.active ul li.active a {
  color: #FFF;
  font-weight: bold;
}
.window .sidebar .menu > ul > li.active ul li a {
  padding: 5px;
  display: block;
  font-size: 13px;
  color: #888;
}
.window .sidebar .menu > ul > li.active ul li a:hover {
  color: #FFF;
}
.window .sidebar .menu > ul > li ul {
  display: none;
}
.window .main {
  margin-left: 250px;
  transition-duration: 0.3s;
  position: relative;
}
.window .main .top-bar {
  background: #24282C;
}
.window .main .top-bar .top-menu {
  height: 65px;
/*  overflow: hidden;*/
}
.window .main .top-bar .top-menu .menu-icon {
  padding: 27px 20px 20px 18px;
  /*display: none;*/
  cursor: pointer;
  transition-duration: 0.3s;
}
.window .main .top-bar .top-menu .menu-icon:hover {
  background: #24282C;
  transition-duration: 0.05s;
}
.window .main .top-bar .top-menu .menu-icon .line {
  height: 2px;
  width: 20px;
  background: #FFF;
  margin-bottom: 4px;
}
.window .main .top-bar .top-menu li {
  float: left;
  font-size: 14px;
}
.window .main .top-bar .top-menu li.active a,
.window .main .top-bar .top-menu li.active a:hover {
  background: #3AB0FF;
  color: #FFF;
  font-weight: bold;
}
.window .main .top-bar .top-menu a {
  padding: 0 25px;
  color: #EEE;
  line-height: 65px;
  display: block;
}
.window .main .top-bar .top-menu a:hover {
  color: #FFF;
  background: rgba(58, 176, 255, 0.35);
}
.window .main .top-bar .profile-box {
  float: right;
  background: #24282C;
  height: 65px;
  line-height: 65px;
  padding: 0 20px;
  cursor: pointer;
}
.window .main .top-bar .profile-box .circle {
  /* height: 30px;
  width: 30px;
  border-radius: 50px; */
  display: block;
  float: left;
  /* margin-top: 10px; */
  margin-bottom: 20px;
}
.window .main .top-bar .profile-box .arrow {
  float: left;
  margin-left: 10px;
  line-height: 65px;
}
.window .main .featured-movie {
  position: relative;
}
.window .main .featured-movie .cover {
  width: 100%;
  display: block;
}
.window .main .featured-movie .corner-title {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  color: #FFF;
  background: rgba(25, 25, 25, 0.3);
  padding: 10px;
  font-size: 13px;
}
.window .main .featured-movie .bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background: rgba(10, 10, 10, 0.8);
  color: #FFF;
  overflow: hidden;
}
.window .main .featured-movie .bottom-bar .title-container {
  float: left;
  font-weight: 100;
  font-size: 40px;
}
.window .main .featured-movie .bottom-bar .title-container .fa {
  margin-right: 10px;
  color: #FF3A3A;
}
.window .main .featured-movie .bottom-bar .title-container b {
  font-weight: 600;
}
.window .main .featured-movie .bottom-bar .right {
  float: right;
  font-size: 14px;
  margin-top: 14px;
}
.window .main .featured-movie .bottom-bar .right .stars {
  float: left;
  color: #F0C236;
  margin-right: 20px;
}
.window .main .featured-movie .bottom-bar .right .share {
  float: left;
  cursor: pointer;
}
.window .main .featured-movie .bottom-bar .right .share .fa {
  margin-right: 5px;
}

@media only screen and (max-width: 1220px) {
  .window > .sidebar {
    transform: translateX(-250px);
  }
  .window > .main {
    margin-left: 0;
  }
  .window > .main .top-bar .top-menu .menu-icon {
    display: block;
  }
  .sidebar-is-open .window > .sidebar {
    transform: translateX(0);
  }
  .sidebar-is-open .window > .main {
    transform: translateX(250px);
  }
}
@media only screen and (max-width: 960px) {
  .window .main .featured-movie .bottom-bar {
    position: static;
  }
  .window .main .featured-movie .bottom-bar .title-container {
    font-size: 25px;
  }
}

/* --------------------- */




.intro {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6ABCEA;
}

.container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  justify-content: center;
}

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 18px 18px 24px 18px;
  margin: 0;
}

.movie-content-header, .movie-info {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.imax-logo {
  width: 50px;
  height: 15px;
  background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}

.movie-info {
  margin-top: 1em;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}

.parasite {
  background: url("https://m.media-amazon.com/images/M/MV5BNzZiNTIzMDgtZTJiMi00YWFkLTllZDUtYzBkM2E5ZDFjOThlXkEyXkFqcGdeQXVyNDQxOTAyNA@@._V1_.jpg");
  background-size: cover;
}

.doLittle {
  background: url("https://m.media-amazon.com/images/M/MV5BMGM1MDJkMmYtYmFhOS00MDg2LWI2ZTMtODI0ZDkwMGQ5MGVmXkEyXkFqcGdeQXVyNDQxOTAyNA@@._V1_.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

.onWard {
  background: url("https://m.media-amazon.com/images/M/MV5BODQ0NjM2MjQtNjkyMS00ZDNjLThlMWQtMGVlZTAxZmRlNjhkXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,675,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 80%;
}

.quietPlace2 {
  background: url("https://m.media-amazon.com/images/M/MV5BZmMzMmMwMzEtZDNjYi00ZGI3LWE3MTEtM2E0OTcxZWJmMWMyXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_SY1000_CR0,0,695,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.skyFall1917 {
  background: url("https://m.media-amazon.com/images/M/MV5BMzI5MGQ0Y2UtYmE3Yi00NGY3LTk4ZDctZDQyNTI5ZmUxNzRjXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,631,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.fastFurious9 {
  background: url("https://m.media-amazon.com/images/M/MV5BODUwMGE0OGMtNWI0ZS00ZGVhLTg4OTQtZDM5MTI4N2FhMzAzXkEyXkFqcGdeQXVyODc5MDgxNzE@._V1_SY1000_CR0,0,631,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

.blackWidow {
  background: url("https://m.media-amazon.com/images/M/MV5BZGRlNTY3NGYtM2YzZS00N2YyLTg0ZDYtNmY2ZDg2NDM3N2JlXkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_SY1000_CR0,0,675,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.mulan {
  background: url("https://m.media-amazon.com/images/M/MV5BZGVlMDFhYzAtMmIyZS00ZTc4LWFmMTQtYjQ0YjkwMmU1ODNmXkEyXkFqcGdeQXVyOTQwNjAzMjM@._V1_SY1000_SX700_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.theInvisibleMan {
  background: url("https://m.media-amazon.com/images/M/MV5BMDEyZmEyM2UtMWFkMi00NTI0LTlmZDQtMGUzNGIyNWM0MWFmXkEyXkFqcGdeQXVyNzU3Nzk4MDQ@._V1_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.harleyQuinnBirdsOfPrey {
  background: url("https://m.media-amazon.com/images/M/MV5BZjJmYmFmZGQtYWYzYS00N2UzLTkzYjktYmNkYzQ0MTJlN2M4XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.fantasyIsland {
  background: url("https://m.media-amazon.com/images/M/MV5BMjBkMThiMWYtMDA5Ni00Yjc3LWFhYzktN2Q1MmZhNzU5MDNlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_SX800_AL_.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

.darkWaters{
  background: url("https://m.media-amazon.com/images/M/MV5BNjk5YmJmYWMtYTAwNi00NTdkLWI3MjYtMGNiNDg1ODk0NjY0XkEyXkFqcGdeQXVyMjMxMjM2NjM@._V1_SY1000_SX675_AL_.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.G{
  /* background: url("https://images.unsplash.com/photo-1572059002053-8cc5ad2f4a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80"); */
  background-image: url(https://images.unsplash.com/photo-1572059002053-8cc5ad2f4a38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80);
  background-size: cover;
  background-position: 50% 50%;
}

.log{
  background: url("https://images.unsplash.com/photo-1497354861845-d381fb7c91a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: 50% 100%;
}

.eye{
  background: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
  background-size: cover;
  background-position: 100% 40%;
}

.out{
  background: url(https://images.unsplash.com/photo-1506755027586-c15c804d854f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
  background-size: cover;
  background-position: 100% 40%;
}

.type {
  background: url(https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=682&q=80);
  background-size: cover;
  background-position: 100% 40%;
}

.like {
  background: url(https://images.unsplash.com/photo-1541415109140-571dd7c83b75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=684&q=80);
  background-size: cover;
  background-position: 100% 100%;
}

.postdetail{
  background: url(https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2678&q=80);
  background-size: cover;
  background-position: 50% 100%;
}

.fourDx-logo {
  width: 50px;
  height: 15px;
  background: url("https://www.unitedcinemas.jp/4dx/images/logo.png") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}


.twoD-logo {
  width: 50px;
  height: 35px;
  background: url("https://cdn4.iconfinder.com/data/icons/cinema-ticket-app/24/2D-512.png") no-repeat;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}


/*About*/
.about-body {
  /* padding-top: 20px;
  padding-left: 20px; */
  padding-right: 120px;
  /* margin: 40px; */
}



/*Bolg*/

.content-section {
  background: #FFF;
  padding: 10px 20px;
  border: 3px solid #dddddd;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  margin: 40px;
  margin-right: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 14px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  color: #444444;
}

.article-metadata a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



/*Login*/

.login-body {
  margin-left: 200px;
}





/* Profile */


.avatar-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}
.avatar-wrapper .avatar-dropdown-arrow {
  -webkit-transition: opacity .1s linear, -webkit-transform .15s linear;
  transition: opacity .1s linear, -webkit-transform .15s linear;
  transition: opacity .1s linear, transform .15s linear;
  transition: opacity .1s linear, transform .15s linear, -webkit-transform .15s linear;
}
.avatar-wrapper .avatar-dropdown-arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.avatar-wrapper:hover .avatar-dropdown-arrow {
  opacity: 0.2;
}

.avatar-photo {
  border-radius: 20px;
  margin-right: 0.5rem;
}

.dropdown-wrapper {
  position: absolute;
          transform-origin: right;
  z-index: 4;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  visibility: hidden;
}
.dropdown-wrapper.active {
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown-profile-details {
  
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}



.lg-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}


.dropdown-links  {
  position: absolute;
  right: -6px;
  top: -10px;
  min-width: 250px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

}
